// =============================================================================
// FONTS
// =============================================================================

$font-family-body: serif !default;
$font-family-heading: sans-serif !default;
$font-family-monospace: monospace !default;
