// =============================================================================
// TYPOGRAPHY
// =============================================================================

$font-size-base: 16px !default;
$line-height-base: 1.6 !default;

$font-size-sm: 1em;
$font-size-md: 1.2em;
$font-size-lg: 1.8em;
$font-size-xl: 4em;
