// =============================================================================
// TYPOGRAPHY
// =============================================================================

html {
	font-family: $font-family-body;
	font-size: $font-size-md;
	line-height: $line-height-base;
}

strong {
	font-weight: 700;
}
