// =============================================================================
// LINKS
// =============================================================================

a {
	@media screen {
		color: inherit;
	}

	&:link,
	&:visited {
		text-decoration: none;
	}

	&:active,
	&:hover {
		text-decoration: underline;
	}
}
