// =============================================================================
// LISTS
// =============================================================================

ol,
ul {
	padding-left: 1.5em;
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}
